.header{
    justify-content: end;
}


@media (min-width: 1400px) {
    .container ,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl
{max-width: 1170;}
}

.bannercontent p .bannercontent ul li{
    font-size: 16px;
}
