*{
    font-family: "Inter", sans-serif;
}
.whatsappbtn {
    border: 1px solid green;
    padding: 10px 18px solid green;
    border-radius: 8px;
}
.whatsappbtn i{
    padding: 10px;
}

.whatsappbtn :hover{
    border: 1px solid green;
}
.call{
    padding: 5px;
    color: white;
    background : linear-gradient(#0acefe,#2699FB) 
    
}

.bannercontent p{
    font-size: 22px;
}
.bannercontent ul{
    list-style: none;
}
.bannercontent ul li{
    font-size: 22px;
}
.bannercontent ul li i{
    color: #2699FB;
    padding: 5px;
}

.bannercontent h1 span {
    color: #2699FB;
    background: url(../images/line\ down.png) no-repeat bottom;

}
.bannercontentbtn download button{
    background-color: none;
}
.bannercontentbtn button{
    width: 50%;
    padding: 10 px 0px;
    border-radius: 8px;
    background : linear-gradient(#0acefe,#2699FB) 
    
}

.bannerform {
    padding: 40px;
}
.bannerform h3{
    font-size: 18px;
    font-weight: 700px;
}
.bannerform {
    border-radius: 10px;
}
.bannerform button{
    width: 100%;
    border-radius: 10px;
    padding: 10px; 
    background : linear-gradient(#0acefe,#2699FB) 
   
}
.countersection h2{
    font-size: 30px;
    font-weight: 700px;
    color: #2699FB;
}
.highlight-section{
    background-color: #F7FAFF;
}
.highlight-section h2{
    color:#0a2134;
    font-size: 36px;
    font-weight: 700px;
}
.highlightitems h3{
    font-size: 20px;
    font-weight: 600px;

}
.highlightitems p{
    font-size: 15 px;
}
.navbar ul li a{
    font-weight: 600;
    color: #2699FB;
    
}
.tabmysystem{
    .nav-pills {
      
        --bs-nav-pills-border-radius: var(--bs-border-radius);
        /* --bs-nav-pills-link-active-color: #fff; */
        /* --bs-nav-pills-link-active-bg: #0d6efd; */
  }
}
   